<section class="first-section">
  <h1>Jasmine<br>Anteunis</h1>
  <p>
    <a href="https://www.behance.net/janteuni"><i class="icon-behance1"></i></a>
    <a href="https://github.com/janteuni"><i class="icon-github"></i></a>
    <a href="http://codepen.io/janteuni/"><i class="icon-codepen"></i></a>
  </p>
</section>
<section class="second-section">
  <object id="back" data="assets/images/b-1.svg" type="image/svg+xml"></object>
  <object id="plane" data="assets/images/plane.svg" type="image/svg+xml"></object>
  <object id="bus" data="assets/images/bus.svg" type="image/svg+xml"></object>
</section>
<section class="third-section">
  <object id="separator" data="assets/images/separator.svg" type="image/svg+xml"></object>
  <h1>What's new?</h1>
</section>
