<section class="first-section">
  <h1>Jasmine<br>Anteunis</h1>
  <p>
    <a target="_blank" href="https://www.behance.net/janteuni"><i class="icon-behance1"></i></a>
    <a target="_blank" href="https://github.com/janteuni"><i class="icon-github"></i></a>
    <a target="_blank" href="http://codepen.io/janteuni/"><i class="icon-codepen"></i></a>
  </p>
</section>
<section class="second-section">
  <object id="back" data="assets/images/b-1.svg" type="image/svg+xml"></object>
  <object id="plane" data="assets/images/plane.svg" type="image/svg+xml"></object>
  <object id="bus" data="assets/images/bus.svg" type="image/svg+xml"></object>
</section>
<section class="third-section">
  <object id="separator" data="assets/images/separator.svg" type="image/svg+xml"></object>
  <h1>What's new?</h1>
  <div class="container-projects">
    <a href="http://janteuni.github.io/sushicons/" class="project" target="_blank">
      <img src="assets/images/sushis.svg" alt=""/>
    </a>
    <a href="https://www.behance.net/gallery/24903901/Gravity" class="project" target="_blank">
      <img src="assets/images/gravity-cover.svg" alt=""/>
    </a>
  </div>
</section>
<section class="four-section">
  <a href="mailto:jasmine@anteunis.name" class="contact">
    <object class="me" data="assets/images/itsme-01.svg" type="image/svg+xml"></object>
    <p>Say Hello!</p>
  </a>
</section>
